<article>
  <h2>
    {{ page.title }}
    <small>{{ page.date | date_to_string }}</small>
  </h2>

  {{ content }}

  <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{page.title | replace: 'EmberJS #', '#EmberJS '}}" data-via="bradleypriest">Tweet</a>

  {% unless page.tags == empty %}
    <div class= 'post-tags'>
      <span>Tags:</span>
      <ul class="tag_box">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
      </ul>
    </div>
  {% endunless %}

  <hr>
  <div class="pager">
    <ul>
    {% if page.previous %}
      <li class="previous"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
    {% else %}
      <li class="previous disabled"><a>&larr; Previous</a></li>
    {% endif %}
      <li class='archives'><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archives</a></li>
    {% if page.next %}
      <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
    {% else %}
      <li class="next disabled"><a>Next &rarr;</a>
    {% endif %}
    </ul>
  </div>
  <hr>
</article>
{% include JB/comments %}